#admin {
  display: flex;
}

#admin > div {
  margin: 40px;
  background-color: gray;
  border-radius: 15px;
  padding: 10px;
  width: 25%;
}

#admin > div > h2 {
  color: white;
}

#adminList {
  background-color: white;
  width: 25%;
}

.productAdmin {
  display: flex;
  justify-content: space-around;
}

.productAdmin > p {
  margin: auto;
}
