#home {
  display: flex;
  flex-direction: column;
}

#home > h1,
#home > h2,
#home > a {
  color: white;
  margin: auto;
  text-align: center;
}

#home > h1 {
  margin-top: 10px;
}

#home > h2 {
  margin-top: 60px;
  width: 50%;
}

#home > a {
  margin-top: 50px;
  background-color: #13aa13;
  border-radius: 15px;
  padding: 8px;
  width: 200px;
  text-decoration: none;
}

#home > .info {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
}

#home > .info > div {
  margin: auto;
  color: white;
}

#home > .info > .image {
  margin: 40px;
}
